{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="center-card">
    <img src="{% static 'core/Logoinicio.png' %}" alt="Logo inicio" class="login-image">

    <h2>Bienvenido al sistema de citas</h2>
    <p>Seleccione el tipo de acceso para ingresar al sistema.</p>

    <div style="margin-top:20px; display:flex; flex-direction:column; gap:10px; align-items:center;">
        <a href="{% url 'login_persona' %}" class="btn" style="min-width:200px;">Login Persona</a>
        <a href="{% url 'login_admin' %}" class="btn btn-secondary" style="min-width:200px;">Login Admin</a>
    </div>
</div>
{% endblock %}
