{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
{% endblock %}

{% block content %}
<main class="principal">
  <section class="caja">

    <!-- Columna Izquierda -->
    <article class="barra1">
      <h3>MediCare</h3>
      <h2>Tu salud es nuestra prioridad</h2>
      <p>
        Acceda a un sistema de consulta médica diseñado para facilitar la
        revisión, programación y reserva de citas. Organice sus atenciones
        de forma segura, ordenada y eficiente.
      </p>
      <!-- Columna Derecha <img src="{% static 'core/Logoinicio.png' %}" alt="Logo" class="img_logo" />-->
    </article>

    <!-- Columna Derecha -->
    <article class="barra2">
      <section class="login">
        <h2>Bienvenido</h2>
        <p>Seleccione su tipo de acceso para ingresar al sistema.</p>

        <div class="opciones-login">

          <!-- Botón Paciente -->
          <a href="{% url 'login_persona' %}" class="caja-opcion paciente">
            <div class="icono-placeholder">👤</div>
            <div class="texto-opcion">
              <div class="titulo">Soy Paciente</div>
              <div class="descripcion">Agendar citas, ver historial</div>
            </div>
            <span class="flecha-siguiente">→</span>
          </a>

          <!-- Botón Administrador -->
          <a href="{% url 'login_admin' %}" class="caja-opcion administrador">
            <div class="icono-placeholder">🛡️</div>
            <div class="texto-opcion">
              <div class="titulo">Administrador</div>
              <div class="descripcion">Gestión de clínica y doctores</div>
            </div>
            <span class="flecha-siguiente">→</span>
          </a>

        </div>
      </section>
    </article>

  </section>
</main>
{% endblock %}
